:host {
  position: relative;
}
.menu-trigger {
  background: white;
  border: 0;
  outline: 0;
  padding: 15px;
  color: rgb(170, 170, 170) !important;
  font-size: 16px;
  cursor: pointer;
}
/deep/ .animation-menu {
  min-width: 256px !important;
}
/deep/ .mat-menu-item {
  font-size: 13px;
  color: rgb(170, 170, 170) !important;
  height: 36px !important;
}
/deep/ .mat-menu-panel {
    //  position: fixed;
    //  left: 0;
    //  right: 0;
    //  margin: 0 auto;
}
